<nav class="navbar navbar-expand-lg ">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">EVE</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="/home">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/all-events">All events</a>
                </li>

                @if(isToken){
                <li class="nav-item">
                    <a class="nav-link" href="/my-tickets">My tickets</a>
                </li>
                }
                @if(isAdmin){
                <li class="nav-item">
                    <a class="nav-link" href="/dashboard">Dashboard</a>
                </li>
                }
                <li class="nav-item">
                    <!-- <a class="nav-link disabled" aria-disabled="true">Disabled</a> -->
                </li>
            </ul>
            <div class="d-flex" role="search">
                @if(!isToken){
                <button class="btn btn-outline-success search-btn m-1" routerLink="/login">Login</button>
                <button class="btn btn-outline-success search-btn m-1" routerLink="/signup">Signup</button>
                }@else{
                <button class="btn btn-outline-success search-btn" (click)="logout()">Logout</button>
                <!-- <button class="m-2"  routerLink="/profile">
                    <img src="../../../../public/circle-user-solid.svg" alt="" width="20" height="20">
                </button> -->

                }

            </div>
        </div>
    </div>
</nav>