<app-navbar></app-navbar>
<div class="container py-4">
    <div class="card">
        <div class="card-header">
            <h2>Booked Tickets</h2>
        </div>
        <div class="card-body">

            <div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <div class="ticket-list">
                            @for(ticket of tickets; track ticket._id){
                            <div class="ticket">
                                <div class="ticket-details">
                                    <strong class="fs-5">{{ticket.eventName}}</strong>
                                    <p class="m-1 mt-2">booked At: {{ticket.createdAt | customeDate}} </p>
                                    <p class="m-1">Event Date: {{ticket.eventDate| customeDate }}</p>
                                    <p class="m-1">Number of tickets: {{ticket.numOfTickets }}</p>
                                </div>
                                <div class="ticket-actions">
                                    <button class="btn1 m-1" (click)="deleteTicket(ticket._id)">Delete</button>
                                    <button class="btn2 m-1"  (click)="routeTo(ticket.eventId)" >View Event</button>
                                </div>
                            </div>
                            }
                        </div>
                    </li>
                </ul>
            </div>
            
        </div>
    </div>
</div>